.container.site-summary
  h1 Jak vypadal Improtřesk 2015?
  p Improtřesk 2015 proběhl v Domě kultury Milevsko. Zúčastnilo se ho kolem stovky lidí a všichni si užili třídenní festival plný skvělé atmosféry.

.container.site-summary
  include ./workshops.jade

.container-fluid.site-summary
  include ./schedule.jade

