h2 Program

.schedule
  .day.thursday
    h3 Čtvrtek

    ul
      li
        .inner
          .start 18:00
          .name Check in a ubytování

      li
        .inner
          .start 20:30
          .name Zahájení Improtřesku

      li
        a.inner(href=$ren->url('schedule').'#mucha')
          .start 21:00
          .name Mucha

      li
        a.inner(href=$ren->url('schedule').'#dj-tamagucci')
          .start 22:00
          .name DJ Tamagucci


  .day.friday
    h3 Pátek

    ul
      li
        .inner
          .start 9:00
          .name Společná snídaně

      li
        .inner
          .start 10:00
          .name Improtřesk 3D

      li
        .inner
          .start 12:15
          .name Oběd, workshopy z patra

      li
        .inner
          .start 13:00
          .name Oběd, workshopy z přízemí

      li
        .inner
          .start 14:00 - 18:00
          .name Workshopy

      li
        a.inner(href=$ren->url('schedule').'#improliga')
          .start 20:00
          .name Improvizační zápas

      li
        a.inner(href=$ren->url('schedule').'#say-something')
          .start 22:00
          .name Say something

      li
        a.inner(href=$ren->url('schedule').'#dj-tamagucci')
          .start 23:00
          .name DJ Tamagucci

  .day.saturday

    h3 Sobota

    ul
      li
        .inner
          .start 8:00
          .name Společná snídaně

      li
        .inner
          .start 8:45
          .name Workshopy

      li
        .inner
          .start 13:00
          .name Oběd, workshopy z patra

      li
        .inner
          .start 13:30
          .name Oběd, workshopy z přízemí

      li
        .inner
          .start 14:30
          .name Workshopy

      li
        a.inner(href=$ren->url('schedule').'#radio-ivo')
          .start 20:00
          .name RÁDIO IVO

      li
        a.inner(href=$ren->url('schedule').'#jumping-jellyfish')
          .start 21:30
          .name Jumping Jellyfish

      li
        a.inner(href=$ren->url('schedule').'#dj-tamagucci')
          .start 22:30
          .name DJ Tamagucci

  .day.sunday

    h3 Neděle
    ul
      li
        .inner
          .start 9:00
          .name Společná snídaně

      li
        a.inner(href=$ren->url('conference').'#konference')
          .start 9:30
          .name Tea konference

      li
        .inner
          .start 12:00
          .name Rozloučení
