.workshops
  h2 Workshopy

  p Pro připomenutí si můžete prohlédnout workshopy, které byly uvedeny.


  h3 Workshop pro trenéry

  p Polovina úspěchu trenéra, lektora, učitele, kouče… spočívá ve funkční stavbě lekce. Není důležité znát nepřeberné množství her, ale umět cvičení funkčně řadit a motivovat s ohledem na zvolený cíl lekce. Na jaké kompetence se zaměřit a jak se k jejich zvládnutí postupně blížit? To by měly být otázky, které si klade dobrý pedagog. A schopnost improvizovat je v tomto případě výhodou každého pedagoga. Ve své praxi trenérky Improligy, vedoucí dětských divadelních souborů, lektorky dramatické výchovy, herectví či vedoucí studia uměleckého přednesu, stále znovu zjišťuji, jak důležité je vědět odkud kam lekci vedeme.
  p Stavba lekcí mě fascinuje a více než 15 let baví. Ráda bych se s vámi podělila o své zkušenosti a postřehy z mé praxe.

  h4 MgA. Jana Machalíková
  p Absolventka katedry výchovné dramatiky DAMU, trenérka a spoluzakladatelka České improvizační ligy, improvizátorka, členka improvizační skupiny Improvize, recitátorka, vypravěčka, herečka, klaunka sdružení Zdravotní klaun. Lektorka programů Národní galerie, organizátorka recitačních přehlídek a členka lektorských sborů. Pedagožka. Ped. F UK a KVD DAMU.


  h3 Hlasy v rytmu

  p Inspiraci hledáme v písních afrických, českomoravských lidových, blues, jazzu, gospelu ... a doufám, že i vy přinesete zajímavá témata. Rozezpíváme se a rozezníme svá těla. Budeme se vzájemně inspirovat a dovolíme si hrát si. Budeme si hrát - s naším hlasem, tělem, melodií, rytmem, souzvukem. Ideální je to pro vás kdo se bojíte zpívat sami anebo si z nějakého důvodu myslíte, že zpívat neumíte nebo nemůžete. Taky jste v dětství slyšeli větu: \"Ty radši nezpívej\"? Máte blok ze svého zpěvu, ale přitom cítíte potřebu svůj hlas rozeznít? Anebo zpíváte rádi a chcete si to užít? Skrze zvuky, mručení, jemné hlásky, skřeky, budeme pracovat na otevření a osvobození hlasu přirozenou cestou. Vyzkoušíte si jak souzníte při improvizaci s ostatními, dostanete prostor a podporu zasólovat si a zjišťovat své schopnosti. Budeme pracovat na udržení společného rytmu, tak aby vzniklo jedno pulzující těleso/organismus. Budeme se také učit poslouchat ostatní. A naučíme se, že kolikrát doslova méně znamená více…

  h4 Hana Říhová
  p Zpěvačka a tanečnice. Pro mě je zpívání fyzická potřeba. Forma sebevyjádření a komunikace s okolním světem. Zároveň velmi intimní záležitost při které odhaluji své nitro. A jak to máte vy?


  h3 Kontaktní improvizace

  p Kontaktní improvizace je tanec, který oživuje tělo, využívá všech jeho vrozených schopností. V situacích, které nelze předvídat se učíme ovládat překvapivé události a rozhodovat se v mžiku sekundy. V těle se probouzejí a pěstují instinkty, které běžně nejsme schopni rozvinout. Při pohybu s různými partnery se naše tělo znovu učí využívat celý svůj potenciál. Pohyb těla se začíná podobat pohybu tygra nebo ptáka v letu. Je to druh tance který vzniká z vnitřních impulsů nebo reakcí na vnější podněty partnera. Fascinuje muže stejnou měrou jako ženy právě proto, že jeho forma vzniká organicky. Více než na tvarech záleží na dokonalé funkci, souhře partnerů a schopnosti se v pohybu vnímat.
  p Kontaktní improvizace je fyzický rozhovor, má pokaždé jiný rytmus a dynamiku. Ve cvičení připravíme tělo na různé situace, které během improvizace mohou nastat. Přitom dbáme na to, aby míra námahy byla minimální, abychom rozvinuli schopnost vnímat pohyb, cítit tělo své i partnerovo, naslouchat tomu co v nás pohyb vyvolává a teprve potom jednali. A vzápětí znovu naslouchali tomu, jak se situace mění. Postupně tak probouzíme schopnosti, které je možné použít ve společné improvizaci.

  h4 Zita Pavlištová a Lucie Klosová

  p Zita ve své práci spojila techniku současného tance a kontaktní improvizaci. Předává umění pohybu, jehož základem je naslouchání tělu. Tělo chápe jako živý organismus s neobyčejnou inteligencí a neprozkoumanými možnostmi, který nám zprostředkuje spojení se sebou i se světem. Ve své práci hledá hranice a miluje extrémy. Je jí stejně vlastní dlouhé, klidné a vědomé pozorování vnitřního pohybu, jako rychlost, ztráta kontroly a risk - situace kdy je třeba dát tělu bezvýhradnou důvěru. Zkoumá tělo v pohybu, jeho propojení s myslí a způsob jakým se ladí na informace z okolí. Při práci s lidmi rozvíjí jejich vnímání pohybu, umění komunikace dotekem a rozmanitou škálu pohybu v prostoru v různých urovních.
  p Lucie vystudovala pedagogiku tance na AMU, tančila v nezávislých projektech a vyučovala na taneční konzervatoři a vedla lekce pro veřejnost. Její pochopení pro tělo a zákonitosti pohybu jsou inspirací a dobrou školou pro odvážné laiky i profesionální tanečníky. Své hodiny vede tak, abyste zároveň docenili a využili inteligenci těla, naučili se ho cítit, respektovali jeho uspořádání a rozvinuli jeho přirozené schopnosti. <i>Tanec je pro mě setkání, poznání, pochopení a vyjádření toho, kdo jsem. Tělo je můj chrám. V těle jsou uloženy veškeré informace o životě. Baví mě nořit se a nacházet souvislosti, sledovat pohyb uvnitř, energii procházející mým tělem. Skrze tanec přicházím k moudrosti v těle ukryté, k jeho schopnostem. Tanec probouzí lásku k tělu.</i>


  h3 Longformy

  p Longformy můžou mít přesně dané schéma, nebo být zcela volné. Myslím, že bychom ale vždy měli počítat s těmito body:</p><ul><li>Atmosféra, kterou budujeme a kdy nemusí za každým slovem následovat smích, ale vše má svou váhu.</li><li>Postavy, jejichž charaktery prohlubujeme a které nejen použijeme, ale i zahrajeme.</li><li>Příběhy, kterým uvěříme, ať už jsou civilní, nebo absurdní, a do jejichž konce stále zapadá začátek.</li></ul>
  p Budeme hodně pracovat a není vyloučené, že se budeme i hodně bavit.

  h4 Jakub Troják
  p Zná zápasy z pozice hráče, konferenciéra i rozhodčího. Hraje v pražských Longformách, které v posledních dvou letech většinou k představením taky trénuje. Hraje s kabaretem Improvize a pěvecky zaštiťuje těleso Improcore. Graficky upravuje knihy.


  h3 Aplikovaná improvizace

  p Impro & osobnostní rozvoj (aneb jak může impro fungovat také jako součást terapie). Baví vás improvizace a často se vám stává, že v improvizacích nacházíte přesah do svého života? Máte chuť dozvědět se něco o sobě? Chcete zužitkovat umění improvizace v pracovním či osobním životě? Rádi byste pomocí improvizačních cvičení rozvinuli, probudili či jinak rozvíjeli schopnosti, kterých se v reálném životě neodvažujete (např. říct opravdu to, co chci říct; stát si za svým; cítit se zodpovědný za své činy a za své pocity, ne za činy ani pocity druhých; být čitelní pro sebe i své okolí, být sami sebou). Pak je tento workshop pro vás. Improvizace, jako další impulz pro ty, kteří chtějí na sobě dále pracovat.

  h4 Michaela Puchálková

  p Lektorka komunikačních dovedností, koučka, terapeutka a impro trenérka. V roce 2000 založila, na základě své hráčské zkušenosti z Francie, první improvizační skupinu Pra.L.I.Ny a několik let vedla první workshopy skupinové improvizace po celé ČR, kde vznikaly nové týmy, které později daly základ Improvizační Lize. Vystudovala francouzštinu na Pedagogické fakultě, absolvovala pětiletý sebezkušenostní výcvik v hlubinné psychoterapii (SUR) a Výcvik koučů (ČNP Consulting). Dlouhodobě se vzdělává, například také prostřednictvím zahraničních improvizačních workshopů a konferencí zaměřených na Aplikovanou improvizaci (appliedimprov.ning.com). Osmým rokem rozvíjí vlastní tréninkovou metodu L.i. Learning impro - využití improvizačních dovedností v osobním životě a v práci. V současnosti vstupuje do ročního výcviku pro terapeuty v Body terapii. Usiluje o rozvoj lidí cestou spolupráce a přístupu Ano, a… místo Ano, ale…


  h3 Nové formy ze zahraničí

  p Předkrm: nejdřív si trochu společně zakravíme a vyšťavíme mozky, ať je nám spolu dobře
  p Hlavní chod: a pak už se pustíme do čerstvých a šťavnatých kategorií nasbíraných v Nancy, Lyonu, Berlíně, Würzburgu, Kranji, Žabovřeskách a dalších kolbištích mimo čas a prostor běžných improprken
  p Dezert: kafe a čerstvej vzduch o přestávce ;)

  h4 Michal Medvěd Sankot

  p Instruktor zážitkových kurzů, kreativní informatik, amateur de français, rozením Žižkovák, srdcem Brňák.
  p K divadlu se dostal na začátku devadesátých let jako člen netradičního turistického oddílu, který o prázdninách jezdil po vesnicích se žebriňákem a na návsích hrál Werichovy Tři sestry a jeden prsten. Klobouk na drobáky a večeře z ešusu dělali společnost letním večerům. S imprem začal v roce 2008 v pražské skupině K.Op.R. Po odstěhování do Francie navštěvoval dva roky ateliéry d'improvisation u skupiny Et compagnie v Lyonu a v roce 2011 rozšířil řady Bafni v Brně.


  h3 Klaunský workshop

  p Být klaunem je tak trochu jako vrhnout se z vysokého útesu přímo do moře (a nejlépe být u toho nahý a nevědět o tom). Je to o překonání sebe sama, ale pocit, že jste to dokázali, vše bohatě vynahradí.
  p Klaun je bytost mezi nebem a zemí, je chytrý idiot a zlomyslný dobrák. Miluje své publikum, z něhož taky žije. V průběhu workshopu se budeme snažit objevit tento zvláštní stav bytí, kdy se člověk s lehkostí pouští do různých dětinských lumpáren a vychází mu to. Odhalíme, jak je možné, že si klaun užívá svou trapnost. Spolu s ním nalezneme radost z přítomnosti na jevišti a způsob, jakým tento prožitek převést na naše publikum.
  p S sebou si vezměte pevnou obuv, oblečení vhodné na pohyb a jednu inspirativní pokrývku hlavy (např. klobouk po babičce nebo jiný bizár).


  h4 David Tchelidze

  p David studuje dramatickou výchovu na JAMU. Před tím studoval psychologii, žurnalistiku, lidi a přírodu. Pracuje jako zdravotní klaun, před tím pracoval jako skladník, profesionální lhář, zedník, redaktor, a dealer štěstěny. Má pětiletou zkušenost s improligou a vede brněnský tým Tamti.


  h3 Workshop pro začátečníky

  p Improvizace. Tajuplné slovo, které vás neskutečně láká a zároveň z něho máte strach? Nebo improvizujete dennodenně a zajímalo by vás, jaké je to improvizovat na jevišti? Přijďte na workshop pro začátečníky.
  p Budeme budovat naše sebevědomí, přijímat výzvy a posunovat hranice vlastní kreativity. Zažijeme spoustu nevšedních situací, ve kterých nám bude dobře. Naučíme se spolupracovat naprosto a totálně ve všem, protože o tom improvizace je – o spolupráci (sami se sebou, s kolegy i případnými diváky).
  p Upozornění! Po workshopu se budete dívat na svět mnohem veseleji!

  h4 Andrea Moličová

  p Divadlu se věnuji už dobrých 12 let. Přesto pro mě byla improvizace dlouhou dobu neznámá krajina. Workshop improvizace od Jany Machalíkové na divadelní přehlídce Mladá Scéna v Ústí nad Orlicí v roce 2009 mě ale totálně dostal. Nechtěla jsem na ten workshop, ale jinde už nebylo místo. Bylo to ta nejlepší náhoda, která se mi mohla stát. Improvizace mi doslova změnila život. Od té doby se snažím o totéž. Měnit lidem život k lepšímu skrz divadelní improvizaci. Je to patetické, ale je to tak.
