.secondary-menu
	ul
		li
			a(href=$ren->url('workshops')) Workshopy
		li
			a(href=$ren->url('accommodation')) Ubytování
		li
			a(href=$ren->url('food')) Jídlo
		li
			a(href=$ren->url('fees')) Poplatky
		li
			a(href=$ren->url('tips')) Tipy
