meta(name="og:description", content="Nabídni místo v autě na Improtřesk ostatním. Šetříte benzín, přírodu, peněženku a třeba se seznámíte s novými improvizátory.")
meta(name="og:image", content=\System\Resource::get_url('static', 'pixmap', 'car-share-og.jpg'))
