meta(name="og:description", content="Připravili jsme pro vás tipy na pohodovější cestu na Improtřesk 2015.")
meta(name="og:image", content=\System\Resource::get_url('static', 'pixmap', 'tips-og.jpg'))
