.text-center
  h1 Improtřesk 2016

.container
  if $show_form
    .form-concepts
  else
    .concepts-thanks
      p Hlasování bylo ukončeno. Děkujeme za vaše hlasy. Sledujte <a href="https://www.facebook.com/events/1398346530471289/">facebookovou událost</a> kvůli novinkám.
