.site-heading
  .site-header-image.small.side
    img(src=$ren->link_resource('pixmap', 'archiv/2016/site-surf.png'))

    h1 Předvýběr workshopů

.container



  .container
    if $show_form
      .form-concepts
    else
      .concepts-thanks
        p Hlasování bylo ukončeno. Děkujeme za vaše hlasy. Sledujte <a href="https://www.facebook.com/events/1506236296350287/">facebookovou událost</a> kvůli novinkám.

.cleaner
