.signup
	if $started
		if $ended
			.site-summary
				.report Přihlašování je již uzavřeno
		else
			.site-summary.sign
				.form-signup
	else
		.site-summary
			.report Přihlašování se otevře #{$start_f}.


	.site-summary.read-info
		.text
			| Přečtěte si
			if ! $started
				&nbsp;zatím
		.info
			a(href=$ren->url('workshops')) Seznam workshopů

	.site-summary.carshare
		.text Máte místo v autě?
		.info
			a(href=$ren->url('carshare')) Nabídněte ho ostatním
