.container.about
	h1 Co je Improtřesk

	p Improtřesk je český festival divadelní improvizace a největší setkání improligových týmů z celé České republiky. Vznikl v roce 2011 u příležitosti oslav výročí 10 let od založení týmu Pra.Li.Ny, první skupiny v České republice, která se začala věnovat divadelním sportům a je organizován <a href="http://www.improliga.cz">Českou improvizační ligou</a>.
	p Letošní Improtřesk nabízí výběr českých lektorů a snaží se semknout komunitu Improligy.

	a(href=$ren->link_resource('pixmap', 'photos/about/improtresk-2014.jpg'))
		img(src=$ren->link_resource('pixmap', 'photos/about/improtresk-2014.jpg?width=600&height=360'))
