.carshare
	.carshare-block
		h3 Detaily jízdy

		.vehicle(class=$item->icon)
		ul.details
			li
				span.label Z:
				span.value=$item->from

			li
				span.label Čas odjezdu:
				span.value=$item->departure->format("j.n. H:i")

			li
				span.label Volná místa:
				span.value=$free

	if $item->desc
		.carshare-block
			h4 Zpráva pro spolucestující
			.desc=$item->desc

	if $show_rq
		.carshare-block.sep
			h4 Cestující

			if any($requests)
				ol.requests
					- foreach $requests as $row
						li
							span.rq-name=$row->name
							span.rq-status
								if $row->status == 1
									="(Čeká na potvrzení)"
								if $row->status == 2
									="(Potvrzeno)"
			else
				p Zatím se nikdo nepřihlásil

	if $show_form
		.carshare-block
			h3 Chci jet taky

			if $free > 0
				.car-requests-form(data-car-id=$item->id)
			else
				p Tato jízda už je plná
