.container.faq
  h1 Často kladené dotazy

  .site-summary#proc-milevsko
    h2.quest Proč v Milevsku?

    .ans
      p Hledali jsme místo, kde můžeme být všichni spolu. KD Milevsko splnil všechna naše očekávání a touhy. Navíc jsme díky vstřícnosti ředitele Vítka mohli udržet cenu Improtřesku nízko.

  .site-summary#kdo-to-porada
    h2.quest Kdo to vlastně pořádá?

    .ans
      p S organizací začal výkonný výbor Improligy (Pája, Vanda a Pája) a postupně se k nim přidali Kája z K.O.P.R.u  a  Táňa, Taťána , Míša, Honza  a Vašek z KIŠe.
      p V organizačním týmu jsou členové a trenéři pražských týmů, kteří mají blízko na organizační schůzky. Je v něm Pája z KL.I.K.Y, Kája z K.O.P.Ru, Pája dříve z V.I.P, Vanda, Táňa, Honza, Táňa a Vašek z KIŠe a další lidé. Pokud máte chuť a čas nám pomoci, ozvěte se!

  .site-summary#proc-nejsou-zahranicni-lektori
    h2.quest Proč nejsou na workshopech zahraniční lektoři?

    .ans
      p Myslíme si, že v našem okolí známe velké množství inspirativních lidí, od kterých se můžeme stále učit a kteří nás zlepší v hlavních improvizátorských dovednostech.

  .site-summary#s-sebou
    h2.quest Co s sebou?

    .ans
      p Maminka by vám jistě zabalila baťůžek. To od nás čekat nemůžete. Vezměte si s sebou:
      ul
        li Spacák a karimatku na spaní
        li Pohodlné oblečení na workshop
        li Teplé ponožky nebo přezuvky na workshop
        li Sponky do vlasů, ať vám během workshopů nevlají
        li Kartáček na zuby a jednu pastu na tým
        li Hrneček, lžíci a misku na snídani
