.info-page.fees

	h1 Účastnický poplatek

	p Rozhodli jsme se trochu motivovat včasné přihlášené, abychom co nejdřív věděli, na koho se budeme moci těšit. Do prvního dubna je cena za Improtřesk 1200 korun, od apríla za 1400 korun.

	ul
		li 1&nbsp;200 Kč do 1.&nbsp;4.&nbsp;2015
		li 1&nbsp;400 Kč později

	p V poplatku je zahrnuta cena za <a href="#{$ren->url('workshops')}">workshop</a>, <a href="#{$ren->url('accommodation')}">ubytování</a> (3 noci), <a href="#{$ren->url('food')}">3 snídaně</a> a vstupy na všechna <a href="#{$ren->url('schedule')}">představení</a> v rámci Improtřesku 2015.

	section
		h2 Jak zaplatit?

		.col-md-6
			p
				| Poté co se přihlásíš přijde, ti e-mail s konkrétními detaily platby specificky jenom pro tebe. Platby jsou s přihláškami párovány automaticky pomocí variabilního symbolu. Pokud ztratíš variabilní symbol,
				!=" "
				a(href=$ren->url('contact')) kontaktuj nás
				!=" "
				|ať předejdeme zmatkování.

		.col-md-6
			ul
				li Číslo účtu: 2800754192/2010
				li Částka: Z přilhášky
				li Variabilní symbol: Z přihlášky

	section
		h2 Odhlašování

		p
			| To, co se vám nestane. Ale kdyby náhodou... Odhlášení bude možné pouze prostřednictvím
			=" "
			a(href=$ren->url('contact')) kontaktního e-mailu
			=". "
			| Na stejný mail můžete napsat, že jste si spletli tlačítka přihlásili se na jiný workshop, než jste chtěli. Budeme se vám snažit vyhovět, co to půjde.
		p Pokud se z celé akce odhlásíte a nenajdete za sebe náhradu, tak dostanete nazpátek alespoň část peněz. Počet lidí na workshopech je prostorově omezený a byla by škoda, kdyby se někdo jiný nemohl místo vás přihlásit. Anebo kdybychom improvizátory odmítali a pak zjistili, že není plno. Čím dřív se odhlásíte, tím víc dostanete, protože se trochu bojíme, aby vyšel finančně program pro všechny.
		p Tedy, pokud zjistíte, že se nebudete moci zúčastnit do 7. dubna, necháme si sladkou pusinku – 20 % poplatku.
		p Pokud se odhlásíte mezi 8. a 23. dubnem, tak už to bude spíš sladká pusinka pro vás, storno poplatek bude činit 80 %.
		p Později už peníze propadají smečce, takže doporučujeme najít si za sebe náhradu.
