.container.food
	section.food
		h1 Stravování

		p Kromě workshopů dostanete za základní poplatek za Improtřesk i něco do břicha, aby vám ráno nebylo hlady šoufl. Připravíme snídaně v pátek, sobotu a pokud vstaneme, tak i v neděli. Obědy budou skupinové v pátek a sobotu, v ceně okolo 90 korun za jídlo, podrobnosti ještě dodáme. Už víme, že si budete moci vybrat mezi jídlem s masem a stravou pro vegetariány.

		.col-md-6
			h2 Nabídka obědů

			p Na této stránce bude zveřejněn odkaz na výběr jídla podle menu. Menu zatím není zveřejněno.

		.col-md-6
			h2 Kde jsou obědy

			p Obědy jsou v restauraci na stadionu.

		.cleaner
