.home
	.site-summary.main
		.motto

		.site-date
			.date 13. 5. - 15. 5. 2015

	.site-summary.location
		i.text
			| letos opět v
			=' '
			a(href="https://www.google.cz/maps/place/Dům+Kultury+Milevsko") Milevsku

	.site-summary.links
		a(href=$ren->url('signup')) Přihlásit
		a(href=$ren->url('carshare')) Chci jet autem
		a(href=$ren->url('conference').'#temata') Témata konference
