.container.text-center
  .site-summary.main
    h1 Improtřesk 2016

    .site-date
      .date 13. 5. - 15. 5. 2016

    i.text
      | letos opět v
      =' '
      a(href="https://www.google.cz/maps/place/Dům+Kultury+Milevsko") Milevsku

  .site-summary
    p V tuto chvíli připravujeme informace o letošním Improtřesku. Chceš vědět víc? Vrať se sem 13. února.
