.site-summary.text-center
  section.site-header
    h1 Improtřesk 2016

    .site-header-image
      img(src=$ren->link_resource('pixmap', 'archiv/2016/site-header.png'))

  section.site-announcement
    .container
      .site-date
        .date 13. 5. - 15. 5. 2016

      i.text
        | letos opět v
        =' '
        a(href="https://www.google.cz/maps/place/Dům+Kultury+Milevsko") Milevsku

      hr

.container.text-center
  .site-summary
    p Improtřesk je český festival divadelní improvizace a největší setkání improvizátorů z celé České republiky. Každý rok se na Improtřesku otevírají dílny z oblasti improvizačního divadla na kterých se schází nadšenci improvizačního divadla i veřejnost.
    p V tuto chvíli připravujeme informace o letošním Improtřesku.

    h2 Chceš vědět víc?
    p Vrať se sem 13. února.

    h3 Nemůžeš se dočkat?
    p Napiš na info@improtresk.cz
