.container
	h3 Pro účastníky

	p Všechno se prostě nemůže vejít na jednu stránku. Vyber si, co chceš vědět.

	nav
		li.nav-item
			a(href=$ren->url('workshops')) Workshopy
		li.nav-item
			a(href=$ren->url('accommodation')) Ubytování
		li.nav-item
			a(href=$ren->url('food')) Jídlo
		li.nav-item
			a(href=$ren->url('fees')) Poplatky
		li.nav-item
			a(href=$ren->url('tips')) Tipy
