.container.orgs
	.site-summary
		h2 Vanda
		p Ať víte s kým do toho jdete než se tu upíšete. Vaše spaní, reklamaci rozbitých oken a klíče od všech tajných komnat nese na bedrech Vanda.
		img(src=$ren->link_resource('pixmap', 'photos/orgs/vanda.jpg'))

	.site-summary
		h2 Pája
		p Láska, divadlo & rock´n´roll !!! To všechno najdeš večer, v noci i k ránu. Co se stane na Improtřesku, nezůstává na Improtřesku. Takže když ostudu, tak s parádou aneb za vším hledej ženu - Pája.
		img(src=$ren->link_resource('pixmap', 'photos/orgs/paja.jpg'))

	.site-summary
		h2 Vašek
		p "Korunka ke korunce a rozpočet je pryč? To nikdy." Veškeré finanční záležitost s vámi pořeší Vašek.
		img(src=$ren->link_resource('pixmap', 'photos/orgs/vasek.jpg'))

	.site-summary
		h2 Táňa
		p "Hlasování bylo napínavé a teď tu máme letošní workshopové vítěze.. Takže na co se můžete těšit a hlavně hlásit? A kdo přijede ne Improtřesk, aby vám předal své zkušenosti?" Od tý doby co si vzala na starost workshopy, vypadá Táňa nějak takhle:
		img(src=$ren->link_resource('pixmap', 'photos/orgs/tana.jpg'))

	.site-summary
		h2 Kája
		p Představujeme se vám dál: Nebudete mít náladu na workshop, nebude čas jídla ani spánku, budete bezradní? Tak to se nestane! Zábavu a zážitky na počkání 24h denně - připravuje Kája.
		img(src=$ren->link_resource('pixmap', 'photos/orgs/kaja.jpg'))

	.site-summary
		h2 Honza
		p Drahoušova slova "Po náročnejch večerech nesmí chybět kvalitní horký párky z rodinnýho řeznictví a velkej hrnek kávy. Pro děcka možná nějakou tu zeleninu. Tak si to vzal na starost."
		img(src=$ren->link_resource('pixmap', 'photos/orgs/honza.jpg'))
