.container.site-summary
	h2 Ubytování v Milevsku

	p Nechcete spát mezi ostatními ve spacáku? Pár minut od KD Milevsko naleznete <a href="http://www.spos-milevsko.cz/ubytovani.html">hotel Stadion</a>, který nabízí poměrně levné ubytování za 250 Kč na noc. <a href="http://www.mapy.cz/zakladni?planovani-trasy&x=14.3663299&y=49.4444611&z=17&rc=9gtFYxUO1Wg-1fGR&rl=N%C3%A1dra%C5%BEn%C3%AD%20846%2F18&rl=J.%20A.%20Komensk%C3%A9ho%201034%2C%20Milevsko&rp={%22criterion%22%3A%22turist1%22}&ri=0">Kudy tam?</a>
	p Ve stejném místě jsou také obědy pro účastníky.

.container
		h2 Cesta veřejnou dopravou

		p Pokud pojedete na Improtřesk veřejnou dopravou, mrkněte na následující tabulku. Když to vyjde, tak se sejdeme všichni v Milevsku na <a href="#{$ren->url('schedule-daily')}">check-inu</a> najednou a budete mít možnost pokecat.

.container-fluid
	.col-lg-3.col-md-6
		table.trans
			tr
				th(colspan=4)
					h5 Praha - Milevsko
			tr
				td.city Praha hl. n.
				td
				td 15:33
				td.train R 646 Konopiště

			tr
				td.city Tábor
				td 16:59
				td 17:08
				td.train Os 8416

			tr
				td.city Milevsko
				td 17:40

	.col-lg-3.col-md-6
		table.trans
			tr
				th(colspan=4)
					h5 Pardubice - Milevsko
			tr
				td.city Pardubice hl. n.
				td
				td 14:15
				td.train RJ 74 Franz Schubert

			tr
				td.city Praha hl. n.
				td 15:24
				td 15:33
				td.train R 646 Konopiště

			tr
				td.city Tábor
				td 16:59
				td 17:08
				td.train Os 8416

			tr
				td.city Milevsko
				td 17:40

	.col-lg-3.col-md-6
		table.trans
			tr
				th(colspan=4)
					h5 Olomouc - Milevsko
			tr
				td.city Olomouc hl. n.
				td
				td 12:16
				td.train EC 124 Bečva

			tr
				td.city Praha hl. n.
				td 14:49
				td 15:33
				td.train R 646 Konopiště

			tr
				td.city Tábor
				td 16:59
				td 17:08
				td.train Os 8416

			tr
				td.city Milevsko
				td 17:40

	.col-lg-3.col-md-6
		table.trans
			tr
				th(colspan=4)
					h5 Brno - Milevsko
			tr
				td.city Brno hl. n.
				td
				td 11:20
				td.train R 664 Jakub Krčín

			tr
				td.city Veselí nad Lužnicí
				td 13:14
				td 13:30
				td.train R 642 Blaník

			tr
				td.city Tábor
				td 15:58
				td 17:08
				td.train Os 8416

			tr
				td.city Milevsko
				td 17:40

.container.site-summary
	p Toho osobáku z Tábora se nemusítě bát, České dráhy budou s Improtřeskem počítat.

	img(src=$ren->link_resource('pixmap', 'photos/tips/810.jpg'))

.container.site-summary
	.col-md-6
		h2 Autem z Prahy

		p Jeďte po R4 a vezměte to přes Orlickou přehradu, kde je krásný výhled do okolí. Také je to cesta, kudy moc aut nejezdí, takže se vyhnete zácpám. Prohlédněte si <a href="https://www.google.cz/maps/dir/Praha/Bohostice/Orl%C3%ADk,+Orl%C3%ADk+nad+Vltavou/D%C5%AFm+Kultury+Milevsko,+N%C3%A1dra%C5%BEn%C3%AD,+M%C3%ADlevsko/@49.6411069,14.1716165,9z/data=!4m26!4m25!1m5!1m1!1s0x470b939c0970798b:0x400af0f66164090!2m2!1d14.4378005!2d50.0755381!1m5!1m1!1s0x470b6c5d965f9c49:0x400af0f6614c120!2m2!1d14.1381328!2d49.602143!1m5!1m1!1s0x470b6dc9d619c56b:0xb369d10adf1974ad!2m2!1d14.181619!2d49.606625!1m5!1m1!1s0x470b5e041c33aa45:0xb16eae125d625dbe!2m2!1d14.365178!2d49.445387!3e0">trasu na Google maps</a>. Cesta na Improtřesk 2015 vám zabere asi hodinu a 20 minut.

		img(src=$ren->link_resource('pixmap', 'photos/tips/orlik.jpg'), alt="Výhled na orlík")

	.col-md-6
		h3 Autem z Brna

		p Pokud pojedete po D1 a sjedete u Humpolce na R19 na Pelhřimov, máte po cestě hrad Kámen ve stejnojmenné vesnici, ve kterého si můžete odpočinout a poznat zase kus českého kulturního dědictví. Prohlédněte si <a href="https://www.google.cz/maps/dir/Brno/Hrad+K%C3%A1men,+K%C3%A1men/D%C5%AFm+Kultury+Milevsko,+N%C3%A1dra%C5%BEn%C3%AD,+M%C3%ADlevsko/@49.2933291,15.5217184,9z/data=!4m20!4m19!1m5!1m1!1s0x4712943ac03f5111:0x400af0f6614b1b0!2m2!1d16.6068371!2d49.1950602!1m5!1m1!1s0x470cebc6cde5b615:0xcd3e48a7240a238a!2m2!1d15.013879!2d49.424392!1m5!1m1!1s0x470b5e041c33aa45:0xb16eae125d625dbe!2m2!1d14.365178!2d49.445387!3e0">trasu na Google maps</a>. Cesta na Improtřesk 2015 vám zabere asi dvě hodiny a 20 minut.
		img(src=$ren->link_resource('pixmap', 'photos/tips/kamen.jpg'), alt="Hrad Kámen")
