.container.site-summary
 .col-md-6
  img(src=$ren->link_resource('pixmap', 'archiv/2016/pripravujeme.png')
 .col-md-6
  img(src=$ren->link_resource('pixmap', 'archiv/2016/pripravujeme.png')
.container.site-summary
 .col-md-6
  img(src=$ren->link_resource('pixmap', 'archiv/2016/pripravujeme.png')
 .col-md-6
  img(src=$ren->link_resource('pixmap', 'archiv/2016/pripravujeme.png')
.container.site-summary
 .col-md-6
  img(src=$ren->link_resource('pixmap', 'archiv/2016/pripravujeme.png')
 .col-md-6
  img(src=$ren->link_resource('pixmap', 'archiv/2016/pripravujeme.png')
.container.site-summary
 .col-md-6
  img(src=$ren->link_resource('pixmap', 'archiv/2016/pripravujeme.png')
 .col-md-6
  img(src=$ren->link_resource('pixmap', 'archiv/2016/pripravujeme.png')
