doctype html
html(lang=$loc->get_lang())
  head
    include ../partial/scripts.jade

    link(rel='stylesheet', type='text/css', href=$ren->link_resource('style', 'archive-2016'))

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="Improtřesk 2015 - Festival divadelní improvizace")
    meta(name="viewport", content="width=device-width")

    meta(name="og:title", content=$res->title)
    meta(name="og:type", content="website")
    meta(name="og:description", content="Improtřesk je český festival divadelní improvizace a největší setkání improligových týmů z celé České republiky.")
    meta(name="og:image", content=\System\Resource::get_url('static', 'pixmap', 'hands-softlight-og.jpg'))
    meta(name="og:url", content=$rq->path)

    :php
      $ren->slot('og')

    :php
      $ren->content_for('title', $res->title);
      $ren->content_from('head');

  body
    :php
      $ren->render_yield();
      $ren->slot();

    hr

    footer
      .container
        .col-sm-6.text-xs-center.text-sm-left
          h3 Archiv
          nav
            li.nav-item
              a(href=$ren->url('home')) Hlavní strana
            li.nav-item
              a(href=$ren->url('year:2015')) Ročník 2015

        .col-sm-6
          .partners.text-xs-center.text-sm-right
            h3 Pořadatel
            .media.partner
              .media-left
                a(href="http://improliga.cz")
                  img(src=$ren->link_resource('pixmap', 'logo/improliga.png'))

              .media-body
                a.media-heading(href="http://improliga.cz")
                  span.name Česká improvizační liga
                  br
                  span.desc Hlavní pořadatel

    include ../partial/ga.jade
