footer.container
	.col-md-6
		ul.nav
			li.nav-item
				a(href=$ren->url('home')) Aktuální ročník
			li.nav-item
				a(href=$ren->url('year:2015')) Ročník 2015

	.col-md-6.text-right
		a(href="http://improliga.cz") Improliga
