.partner {
  display:inline-block;
  height:60px;
  margin-right:25px;
  opacity:.65;
  vertical-align:bottom;
  width:60px;

  &:last-child {
    margin:0;
  }

  &:hover {
    opacity:1;
  }

  &.il {
    background-image:url(<pixmap(logo/improliga.png)>);
  }

  &.kdm {
    background-image:url(<pixmap(logo/kd-milevsko.png)>);
    width:135px;
  }

  &.ii {
    background-image:url(<pixmap(logo/impro-institut.png)>);
  }

  &.si {
    background-image:url(<pixmap(logo/skola-improvizace.png)>);
    width:116px;
  }
}
